# SIGNING
key.properties
**/*.jks
**/*.keystore

# BUILD
build/
android/app/build/

# LOCAL CONFIG
local.properties

# GRADLE
.gradle/
/captures/
.cxx/

# FLUTTER GENERATED
GeneratedPluginRegistrant.java

# OPTIONAL
android/app/google-services.json

# OS
.DS_Store
Thumbs.db